<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.szymou.xposeddemos">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.XposedDemos"
        tools:targetApi="31">

        <!--是一个xposed模块-->
        <meta-data android:name="xposedmodule" android:value="true" />
        <!--模块描述-->
        <meta-data android:name="xposeddescription" android:value="这是一个神奇的Xposed模块/插件。--熟知宇某" />
        <!--模块最小兼容-->
        <meta-data android:name="xposedminversion" android:value="82" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>